.admin-container {
  background: #eef2ff;
  padding: 25px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
}

.admin-container h2 {
  color: #1e3a8a;
  margin-bottom: 5px;
}

.admin-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.admin-card input,
.admin-card textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.admin-card button {
  background: #1d4ed8;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}
